<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mt.spring.mos.server.dao.ResourceMapper">
    <select id="findChildDirAndResourceList" parameterType="map"
            resultType="mt.spring.mos.server.entity.vo.DirAndResourceVo">
        select * from (
        select
        1 as is_dir,d.id,d.`path` as path,
        null as size_byte,
        d.created_date,
        d.created_by,
        d.updated_date,
        d.updated_by,
        0 as is_public,
        null as content_type
        ,null as thumb_file_house_id
        ,0 as visits
        ,0 as last_modified
        from mos_dir d,mos_bucket b
        where d.bucket_id = b.id
        and b.id = #{bucketId}
        and d.path != '/'
        <if test="keyWord != null and keyWord != ''">
            and d.path like concat('%',#{keyWord},'%')
        </if>
        <if test="dirId != null">
            and parent_id = #{dirId}
        </if>
        union all
        select
        0 as is_dir,
        r.id,
        replace(concat(d.path,'/',r.name),'//','/') as path,
        r.size_byte,
        r.created_date,
        r.created_by,
        r.updated_date,
        r.updated_by,
        r.is_public,
        r.content_type
        ,r.thumb_file_house_id
        ,r.visits
        ,r.last_modified
        from mos_dir d,mos_bucket b,mos_resource r
        where d.bucket_id = b.id
        and d.id = r.dir_id
        and b.id = #{bucketId}
        <if test="keyWord != null and keyWord != ''">
            and r.name like concat('%',#{keyWord},'%')
        </if>
        <if test="dirId != null">
            and d.id = #{dirId}
        </if>
        ) a
        order by is_dir desc,id desc
    </select>
    <select id="findNeedGenerateThumb" parameterType="map" resultType="mt.spring.mos.server.entity.po.Resource">
        select distinct r.* from mos_resource r
        join mos_file_house f on r.thumb_file_house_id is null and r.file_house_id = f.id
        join mos_file_house_rela_client rc on f.id = rc.file_house_id
        join mos_client c on rc.client_id = c.id and c.status = 'UP'
        where r.thumb_fails <![CDATA[<]]> 3
        and r.suffix in
        <foreach collection="suffixs" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        order by r.id desc
    </select>
</mapper>